In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# from pmaw import PushshiftAPI
import datetime as dt
import os
import ipywidgets as widgets
import requests
import random
import time
# Importing encoders
from sklearn.preprocessing import LabelEncoder, StandardScaler

# pd.set_option('max_colwidth', 500)
# pd.set_option('max_column', 50)

# Data Import & Cleaning

In [3]:
current_directory = os.getcwd()
file_path = os.path.join(current_directory, '../data/wallstreetbets_top_test.csv')
df_wsb = pd.read_csv(file_path)
file_path2 = os.path.join(current_directory, '../data/investing_top_test.csv')
df_invt = pd.read_csv(file_path2)

In [4]:
df_wsb.info()
df_wsb.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        940 non-null    int64
 1   Title             940 non-null    object
 2   Post Text         103 non-null    object
 3   ID                940 non-null    object
 4   Score             940 non-null    int64
 5   Upvote Ratio      940 non-null    float64
 6   Total Comments    940 non-null    int64
 7   Created On        940 non-null    object
 8   Post URL          940 non-null    object
 9   Original Content  940 non-null    bool
dtypes: bool(1), float64(1), int64(3), object(5)
memory usage: 67.1+ KB

,Unnamed: 0,Title,Post Text,ID,Score,Upvote Ratio,Total Comments,Created On,Post URL,Original Content
0,0,Times Square right now,NaN,l8rf4k,479217,0.99,13884,2021-01-30 18:00:38,https://v.redd.it/x64z70f7eie61,False
1,1,UPVOTE so everyone sees we got SUPPORT,NaN,l6wu59,335468,0.98,12896,2021-01-28 13:40:34,https://i.redd.it/sgoqy8nyt2e61.png,False
2,2,GME YOLO update — Jan 28 2021,NaN,l78uct,296778,0.98,23166,2021-01-28 21:06:23,https://i.redd.it/opzucppb15e61.png,False
3,3,GME YOLO month-end update — Jan 2021,NaN,l846a1,262028,0.97,20063,2021-01-29 21:04:45,https://i.redd.it/r557em3t5ce61.png,False
4,4,It’s treason then,NaN,l881ia,243637,0.98,4622,2021-01-29 23:40:59,https://i.redd.it/d3t66lv1yce61.jpg,False

In [5]:
df_invt.info()
df_invt.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        702 non-null    int64
 1   Title             702 non-null    object
 2   Post Text         694 non-null    object
 3   ID                702 non-null    object
 4   Score             702 non-null    int64
 5   Upvote Ratio      702 non-null    float64
 6   Total Comments    702 non-null    int64
 7   Created On        702 non-null    object
 8   Post URL          702 non-null    object
 9   Original Content  702 non-null    bool
dtypes: bool(1), float64(1), int64(3), object(5)
memory usage: 50.2+ KB

,Unnamed: 0,Title,Post Text,ID,Score,Upvote Ratio,Total Comments,Created On,Post URL,Original Content
0,0,Robinhood and other brokers literally blocking...,"See title. Can't buy these stocks on RH, but c...",l6wvia,26954,0.99,5416,2021-01-28 13:42:17,https://www.reddit.com/r/investing/comments/l6...,False
1,1,Historically it's way better to invest at mark...,"Found this 2018 article, interesting/fun fact:...",lhtodm,9349,0.98,707,2021-02-11 20:19:14,https://www.reddit.com/r/investing/comments/lh...,False
2,2,Jim Cramer Gave an Interview in 2006 on how th...,[https://www.reuters.com/article/cramer-interv...,l92fz7,9185,0.99,745,2021-01-31 02:36:58,https://www.reddit.com/r/investing/comments/l9...,False
3,3,Emotional involvement has never been this high...,"First of all, I can't wait to be berated in th...",la3bft,8077,0.88,2434,2021-02-01 13:42:51,https://www.reddit.com/r/investing/comments/la...,False
4,4,By popular demand: official “I hate Robinhood ...,"Honestly, I didn’t want to post this myself si...",l8nntv,7266,0.98,1947,2021-01-30 15:12:48,https://www.reddit.com/r/investing/comments/l8...,False

In [9]:
df_wsb.columns.tolist()

['Unnamed: 0',
 'Title',
 'Post Text',
 'ID',
 'Score',
 'Upvote Ratio',
 'Total Comments',
 'Created On',
 'Post URL',
 'Original Content']

In [ ]:
print(df_wsb[df_wsb.duplicated()])

In [ ]:
print(df_invt[df_invt.duplicated()])

In [ ]:
df_wsb.isnull().sum().sort_values(ascending = False)

This amount of null values in the post text is normal as the community of r/wallstreetbets tend to post memes and images rather than texts as their post

In [ ]:
df_invt.isnull().sum().sort_values(ascending = False)

r/investing on the other hand seems to have significantly less amount of null values in their post text as the coommunity are more technically savvy and are more serious in terms of investing in comparison to r/wallstreetbets.

As such, for r/wallstreetbets, we shall drop the 'Post Text' column. Whereas for r/investing, we will only drop the rows with null values

In [ ]:
# Drop the entire 'Post Text' and the 'Unnamed: 0 ' column from df_wsb
df_wsb = df_wsb.drop(['Post Text', 'Unnamed: 0'], axis = 1)

# Adds in a column to indicate which subreddit the entry belongs to
df_wsb['Subreddit'] = 'wallstreetbets'

df_wsb = df_wsb.rename(columns = {'Title': 'Post'})

In [ ]:
# Drop the rows with null values for r.invt
df_invt = df_invt.dropna()

# Drop the 'Unnamed: 0' column from df_invt 
df_invt = df_invt.drop('Unnamed: 0', axis = 1)

# Adds in a column to indicate which subreddit the entry belongs to
df_invt['Subreddit'] = 'investing'

# We will also be merging df_invt 'Title' and 'Post Text' together
df_invt['New Title'] = df_invt['Title'] + '. ' + df_invt['Post Text']

df_invt = df_invt.drop(['Title', 'Post Text'], axis = 1)

df_invt = df_invt.rename(columns = {'New Title': 'Post'})

In [ ]:
df_invt.isnull().sum().sort_values(ascending = False)

In [ ]:
df_wsb.head()

In [ ]:
entry = df_invt.loc[0, 'Post']
print(entry)

In [ ]:
rtl_inv_df = pd.concat([df_wsb[['Post', 'Subreddit']], df_invt[['Post', 'Subreddit']]]).reset_index(drop = True)

In [ ]:
rtl_inv_df.info()

In [ ]:
rtl_inv_df.tail()

Retail Investor Dataframe is saved as rtl_inv_df, which we will be using for the rest of this work

In [ ]:
rtl_inv_df.groupby('Subreddit').count()

In [ ]:
vc = rtl_inv_df['Post'].value_counts()
vc[vc>1]

In [ ]:
print(rtl_inv_df[rtl_inv_df.duplicated()])

In [ ]:
rtl_inv_df = rtl_inv_df.drop_duplicates()

In [ ]:
print(rtl_inv_df[rtl_inv_df.duplicated()])

Duplicated rows are now removed

# Feature Engineering

We will set the 'Subreddit' column into:

0: r/investing
1: r/wallstreetbets

In [ ]:
# Create a LabelEncoder object
label_encoder = LabelEncoder()

# Sieve out the columns which we want to apply label encoding on
rtl_inv_df['Subreddit'] = label_encoder.fit_transform(sitcome_df['Subreddit'])